	{% include "includes/header.html" %}
	<section id = 'intro' class="about-bg about-bg-white">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-reg " style = "text-align : center">COCO</h2> 
				<h2 class="hdg-c hdg-source-lt " style = "text-align : center">	Connect Online | Connect Offline</h2>
				<div class="media layout-vr-xlg">
					<div class="imgExt img-marginLg-lt img-effects img-size-lg">
						<a href="https://github.com/digitalgreenorg/dg" target="_blank">
							<img src="/media/social_website/content/online-offline.png" height="100px" alt="">
						</a>
					</div>
					<p class="copy-para copy">COCO is a client side framework that enables data entry in intermittent Internet connectivity. Data can be stored locally while the user is offline, and when he comes back online, the data can be synced to the server.</p>
				</div> 
			</div>
		</div>             
	</section>

	<section class="about-bg about-bg-white">
    	<div class="wrapper">
    		<div class="inner-wrapper">
    			<h2 class="hdg-a hdg-source-lt layout-vr-md">SYNC</h2>
    			<div class="media layout-vr-xlg">
    				<div class="img img-marginLg-rt img-effects img-size-lg">
    					<img src="/media/social_website/content/sync.png" alt="" />
    				</div>
    				<div class="bd">
    					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Sync to Server when online</h3>
    					<p class="copy copy-margin"></p>
    				</div>
    			</div>
    		</div> <!-- End .inner-wrapper -->
    	</div> <!-- End .wrapper -->
    </section>


	<section id = 'framework' class="about-bg about-bg ">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-lt ">Search and Sort</h2>
				<div class="media layout-vr-xlg">
					<div class="imgExt img-marginLg-rt img-effects img-size-lg">
						<a href="https://github.com/digitalgreenorg/dg" target="_blank">
							<img src="/media/social_website/content/search_graphic.png" height="100px" alt="">
						</a>
					</div>
					<div class="bd">
    					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Sync to Server when online</h3>
    					<p class="copy copy-margin">The listviews in Coco come with built in searching and sorting functionality that make things so much easier to find.</p>
    				</div>
					
				
				</div>
			</div> 
		</div>             

	</section>

	<section class="about-bg about-bg-white">
    	<div class="wrapper">
    		<div class="inner-wrapper">
    			<h2 class="hdg-a hdg-source-lt layout-vr-md">Download Data</h2>
    			<div class="media layout-vr-xlg">
    				<div class="img img-marginLg-rt img-effects img-size-lg">
    					<img src="/media/social_website/content/download.png" alt="" />
    				</div>
    				<div class="bd">
    					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Download Data in Excel format</h3>
    					<p class="copy copy-margin">The data in Coco's listviews can be downloaded as excel files or copied to clipboard with just a click of a button. Its so easy. </p>
    				</div>
    			</div>
    		</div> <!-- End .inner-wrapper -->
    	</div> <!-- End .wrapper -->
    </section>
	<section id = 'Versatile' class="about-bg about-bg">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-lt">Adaptable</h2>
				<div class="media layout-vr-xlg">
					<div class="imgExt img-marginLg-lt img-effects img-size-lg">
						<a href="https://github.com/digitalgreenorg/dg" target="_blank">
							<img src="/media/social_website/content/responsive.png" height="100px" alt="">
						</a>
					</div>
					<div class="bd">
    					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Responsive to screen size</h3>
    					<p class="copy copy-margin">Coco is adaptable to all screen sizes, enabling easy use on smaller devices like tablets and smartphones. You don't need to do anything at all, its already built in.
    					</p>
    				</div>
			</div> 
		</div>             
	<section id="opensourcecode" class="about-bg about-bg-white">
		<div class="wrapper">
			<div class="inner-wrapper">
				<h2 class="hdg-a hdg-source-lt layout-vr-md">Open-source Code</h2>
				<div class="media layout-vr-xlg">
					<div class="imgExt img-marginLg-rt img-effects img-size-lg">
						<a href="https://github.com/digitalgreenorg/dg" target="_blank">
							<img src="/media/social_website/content/github.jpg" alt="">
						</a>
					</div>
					<div class="bd">
    					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
    					<p class="copy copy-margin">Our code is open source. Please feel free to fork any code available in our Github repository.
    					</p>
    					<p class="copy copy-margin"><a href="https://github.com/digitalgreenorg/dg" target="_blank">You can try it out here</a>.
    				</div>
				</div>
			</div> <!-- End .inner-wrapper -->
		</div> <!-- End .wrapper -->
	</section>

	{% include "includes/footer.html" %}