	{% include "includes/header.html" %}
	<section id = 'intro' class="about-bg about-bg-white">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-reg " style = "text-align : center">COCO</h2> 
				<h2 class="hdg-c hdg-source-lt " style = "text-align : center">	Connect Online | Connect Offline</h2>
				<div class="media layout-vr-xlg">
					<p class="copy-para copy">COCO is a client side framework that enables data entry in intermittent Internet connectivity. Data can be stored locally while the user is offline, and when he comes back online, the data can be synced to the server.</p>
				</div> 
			</div>
		</div>             
	</section>

	<section id = 'framework' class="about-bg about-bg ">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-lt ">Developed as a Framework</h2>
				<div class="media layout-vr-xlg">
					<p class="copy-para copy">COCO v2 is only a client side framework which provides a single page application. It is a collection of HTML CSS and Javascript files, which can be easily plugged into a database. 
					</p>
				</div>
			</div> 
		</div>             

	</section>

	<section id = 'Versatile' class="about-bg about-bg-white ">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-lt ">Naturally Versatile</h2>
				<div class="media layout-vr-xlg">
					<p class="copy-para copy">COCO is designed to be completely platform independent, meaning that it can be used with a variety of back-end implementations. It only requires REST functionality to be implemented on the database.
					</p>
				</div>
			</div> 
		</div>             

	</section>
	<section id = 'Versatile' class="about-bg about-bg">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-lt">Easily Adaptable</h2>
				<div class="media layout-vr-xlg">
					<p class="copy-para copy">COCO has been coded in a way that it can adapt to various needs. All kinds of data can be entered, edited and viewed through the framework. You dont need to edit/customise any view, it will simply take the parameters as input and adapt accordingly.
					</p>
				</div>
			</div> 
		</div>             

	</section>
	<section id = 'Responsive' class="about-bg about-bg-white">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-lt">Responsive to screen size</h2>
				<div class="media layout-vr-xlg">
					<p class="copy-para copy">Coco is adaptable to all screen sizes, enabling easy use on smaller devices like tablets and smartphones. You don't need to do anything at all, its already built in.
					</p>
				</div>
			</div> 
		</div>             

	</section>
	

	<section id = 'SearchnSort' class="about-bg about-bg">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-lt">Searching and sorting</h2>
				<div class="media layout-vr-xlg">
					<p class="copy-para copy">The listviews in Coco come with built in searching and sorting functionality that make things so much easier to find.
					</p>
				</div>
			</div> 
		</div>             

	</section>

	<section id = 'Download in Excel' class="about-bg about-bg-white">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-lt">Data in your format</h2>
				<div class="media layout-vr-xlg">
					<p class="copy-para copy">The data in Coco's listviews can be downloaded as excel files or copied to clipboard with just a click of a button. Its so easy. 
					</p>
				</div>
			</div> 
		</div>             

	</section>

	<section id = 'Try it out' class = "about-bg about-bg">
		<div class = "wrapper">
			<div class="inner-wrapper">

				<h2 class="hdg-a hdg-source-lt"></h2>
				<div class="media layout-vr-xlg">
					<p class="copy-para copy"> We've made an app to showcase the power of coco. <a href="/exampleapp/">Try it out here</a>.
					</p>
				</div>
			</div> 
		</div>             

	</section>

	<section id="opensourcecode" class="about-bg about-bg-white">
		<div class="wrapper">
			<div class="inner-wrapper">
				<h2 class="hdg-a hdg-source-lt layout-vr-md">Open-source Code</h2>
				<div class="media layout-vr-xlg">
					<div class="imgExt img-marginLg-lt img-effects img-size-lg">
						<a href="https://github.com/digitalgreenorg/dg" target="_blank">
							<img src="/media/social_website/content/github.jpg" alt="">
						</a>
					</div>
					<div>
						<p class="copy-para copy">Our code is open source. Please feel free to fork any code available in our Github repository.
						</p>
						<p class="copy"><a href="https://github.com/digitalgreenorg/dg" target="_blank">You can try it out here</a>.
						</p>
					</div>
				</div>
			</div> <!-- End .inner-wrapper -->
		</div> <!-- End .wrapper -->
	</section>

	{% include "includes/footer.html" %}