{% include "includes/header.html" %}
{% include "includes/partials/search.html" %}
{% load app_tags %}
        
    <section>
        <form>
            <div id="main" role="main" class="wrapper">
                <div class="inner-wrapper" id="collection-view">
                    <div class="js-collection-outer-wrapper">
	                    <div class="grid layout-vr-sm">
	                        <div class="grid-col grid-size2of3">
	                            <h1 class="hdg-bold hdg-a" style="display:inline;">Collection Title</h1><span><input type="text" name="title" class="coltitle"></span>
	                        </div>
	                    </div>
	                    <div class="media layout-vr-md">
	                        <div class="video-wrapper" data-videoid="{{video_index}}">
	                            <!-- Implementation Note: include the youtube video id and video uid in the data tag below -->
	                            <div id="video-target" data-video-id="{{video.youtubeID}}" data-video-uid="{{video.uid}}">
	                                <img src="{{STATIC_URL}}social_website/content/yo.png" alt="" />
	                            </div>
	                        </div>
	                        <div class="bd js-collection-dropdown-container">
	                        <!-- Collection Drop Downs -->
	                        </div> <!-- End .bd -->
	                    </div> <!-- End .media -->
	                    <div class="boxWhite carousel-pad-rt layout-vr-lg">

                        <!-- Begin video carousel -->
                        <div id="collection-videos-carousel" class="collection-video-carousel carousel-wrapper carousel-border">
                            <div class="js-carousel-container">
<!--                                 <ul class="carousel-list"> -->
                                     <!-- Each carousel slide will be in a li here -->
<!--                                     <li class="carousel-item carousel-item-1" style="width: 882px;"> -->
                                        <ul class="h-list h-list-xlg clearfix" id='sortable'>
                                            {% for video in related_videos %}
                                            <!-- The "show-playing" and "show-progress" classes toggle display of the respective overlays -->
                                            <!-- <li class="vidDrawer-video show-playing show-progress js-vidDrawer-video"> -->                                            
                                            <li class="vidDrawer-video show-playing js-vidDrawer-video">
                                                <div class="vidDrawer-image">
                                                    <a href="{{video.url}}" ><img src="{{ video.thumbnailURL }}" class="vidDrawer-image" alt="{{video.title}}" /> </a>
                                                      
                                                </div>
                                                
                                                <div class="vidDrawer-hd copy-dk">
                                                    <span class="copy-extra-lt">{{ video.title }}</span>
                                                </div>
                                            </li>
                                    <!-- End carousel slides -->
                                {% endfor %}
<!--                                         </ul> -->
<!--                                     </li> -->
                                </ul>
                            </div>
                            <!--div class="arrow-left carousel-previous-slide js-carousel-previous-slide">
                                Previous
                            </div>
                            <div class="arrow-right carousel-next-slide js-carousel-next-slide">
                                Next
                            </div-->
                        </div>
                        </div>
                        <div class="layout-vr-lg">
                            <h2 class="hdg-e hdg-black hdg-bold layout-vr-sm copy-margin">Practice Mapping</h2>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Category</label>
                                    <select id = "partnerlist" class="chosen-select">
                                        <option value = "path">Agriculture</option>
                                        <option value = "pradan">Health</option>
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Subcategory</label>
                                    <select id = "statelist" class="chosen-select">
                                        <option value = "mp">Land Management</option>
                                        <option value = "ap">Food Management</option>
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Topic</label>
                                    <select id = "langlist" class="chosen-select">
                                        <option value = "english">Sowing</option>
                                        <option value = "hindi">Hindi</option>
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Subtopic</label>
                                    <select id = "addvideo" class="chosen-select">
                                        <option value = "1">Line sowing</option>
                                        <option value = "2">Dibbling</option>
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Subsubtopic</label>
                                    <select id = "addvideo" class="chosen-select">
                                        <option value = "1">Papaya</option>
                                        <option value = "2">Wheat</option>
                                    </select>
                                </div>
                        </div>
                        <button type="submit" class="btn copy-margin top-mar"> Save </button>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </form>
    </section>
        
{% include "includes/footer.html" %}

