{% include "includes/header.html" %}
{% include "includes/partials/search.html" %}
{% load app_tags %}
        
    <section class="gradientBg">
        <form>
            <div id="main" role="main" class="wrapper">
                <div class="inner-wrapper" id="collection-view">
                    <div class="grid layout-vr-sm">
                        <div class="grid-col grid-size2of3">
                            <h1 class="hdg-bold hdg-a" style="display:inline;">Collection Title</h1><span><input type="text" name="title" class="coltitle"></span>
                        </div>
                    </div>
                    <div class="media layout-vr-md">
                        <div class="video-wrapper" data-videoid="{{video_index}}">
                            <!-- Implementation Note: include the youtube video id and video uid in the data tag below -->
                            <div id="video-target" data-video-id="{{video.youtubeID}}" data-video-uid="{{video.uid}}">
                                <img src="{{STATIC_URL}}social_website/content/yo.png" alt="" />
                            </div>
                        </div>
                        <div class="bd">
                            <div class="media va-dropdown">
                                <label class="copy hdg-bold layout-vr-tiny">Partner</label>
                                    <select id = "partnerlist" class="chosen-select" >
                                      <option value = "path">PATH</option>
                                      <option value = "pradan">Pradan</option>
                                      <option value = "serp">SERP</option>
                                      <option value = "asa">ASA</option>
                                    </select><br><br>
                                <label class="copy hdg-bold layout-vr-tiny">State</label>
                                    <select id = "statelist" class="chosen-select">
                                      <option value = "mp">MP</option>
                                      <option value = "ap">AP</option>
                                      <option value = "bihar">Bihar</option>
                                    </select><br><br>
                                <label class="copy hdg-bold layout-vr-tiny">Language</label>
                                    <select id = "langlist" class="chosen-select">
                                      <option value = "english">English</option>
                                      <option value = "hindi">Hindi</option>
                                    </select><br><br>
                                <label class="copy hdg-bold layout-vr-tiny">Add Video</label>
                                    <select id = "langlist" class="chosen-select">
                                      <option value = "english">SRI</option>
                                      <option value = "hindi">Seed treatment</option>
                                    </select><br><br>
                            </div> <!-- End .media -->
                        </div> <!-- End .bd -->
                    </div> <!-- End .media -->
                    <div class="boxWhite carousel-pad-rt layout-vr-lg">

                        <!-- Begin video carousel -->
                        <div id="collection-videos-carousel" class="collection-video-carousel carousel-wrapper">
                            <div class="carousel-container js-carousel-container">
                                <ul class="carousel-list">
                                     <!-- Each carousel slide will be in a li here -->
                                    <li class="carousel-item carousel-item-1" style="width: 882px;">
                                        <ul class="h-list h-list-xlg clearfix">
                                {% for video in collection.videos.all %}
                                    {% cycle 1 0 0 0 0 as new_slide silent %}
                                    {% if forloop.counter > 5 and new_slide %}
                                          </ul>
                                    </li>
                                    <li class="carousel-item carousel-item-1" style="width: 882px;">
                                        <ul class="h-list h-list-xlg clearfix">
                                     {% endif %}
                                            <!-- The "show-playing" and "show-progress" classes toggle display of the respective overlays -->
                                            <!-- <li class="vidDrawer-video show-playing show-progress js-vidDrawer-video"> -->                                            
                                            <li class="vidDrawer-video show-playing js-vidDrawer-video">
                                                <div class="vidDrawer-image">
                                                    <a href="{% url collection_video_page collection.partner.name collection.state collection.language collection.title forloop.counter %}" ><img src="{{ video.thumbnailURL16by9 }}" class="vidDrawer-image" alt="video.title" /> </a>
                                                      {% if forloop.counter == video_index %}
                                                      <div class="overlay now-playing">
                                                        Now Playing
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="vidDrawer-flag copy-white">
                                                    {{ video.duration|seconds_to_duration }}
                                                </div>
                                                <div class="vidDrawer-hd copy-dk">
                                                    {{forloop.counter}}. <span class="copy-extra-lt">{{ video.title }}</span>
                                                </div>
                                            </li>
                                    <!-- End carousel slides -->
                                {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="arrow-left carousel-previous-slide js-carousel-previous-slide">
                                Previous
                            </div>
                            <div class="arrow-right carousel-next-slide js-carousel-next-slide">
                                Next
                            </div>
                        </div>
                    </div>
                    <div class="layout-vr-lg">
                    <h2 class="hdg-e hdg-black hdg-bold layout-vr-sm">Practice Mapping</h2>
                        <label>Category</label>
                            <select id = "partnerlist">
                                <option value = "path">Agriculture</option>
                                <option value = "pradan">Health</option>
                            </select>
                        <label>Subcategory</label>
                            <select id = "statelist">
                                <option value = "mp">Land Management</option>
                                <option value = "ap">AP</option>
                            </select>
                        <label>Topic</label>
                            <select id = "langlist">
                                <option value = "english">Sowing</option>
                                <option value = "hindi">Hindi</option>
                            </select>
                        <label>Subtopic</label>
                            <select id = "addvideo">
                                <option value = "1">Line sowing</option>
                                <option value = "2">Dibbling</option>
                            </select>
                        <label>Subsubtopic</label>
                            <select id = "addvideo">
                                <option value = "1">Papaya</option>
                                <option value = "2">Wheat</option>
                            </select>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </form>
    </section>
        
{% include "includes/footer.html" %}

