{% include "includes/header.html" %}
        <section class="about-bg about-bg-white">
		    <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h1> Volunteer with DG</h1>
						<div id="one"><h4>MENU</h4></div>
						<div id="two"><h4>Introduction</h4></div>
						<div id="three"><h4>How to</h4></div>
						<div id="four"><h4>FAQs</h4></div>
						<div id="five"><h4>Contributions</h4></div>
						
                    </div>
                </div>
            </div>
        </section>
{% include "includes/footer.html" %}
