{% include "includes/header.html" %}
		<section class="about-bg about-bg-white">
		    <div class="wrapper">
                <div class="inner-wrapper">
					<div class="media layout-vr-sm grid">
						<ul class="grid-col grid-size1of4 subtitle-sorting-list v-list">
							<li><div class="filter-category-label"><a href="#introduction">Introduction</a></div></li>
							<li><div class="filter-category-label"><a href="#howto">How to</a></div></li>
							<li><div class="filter-category-label"><a href="#contributions">Contributions</a></div></li>
						</ul>
						<div class="grid-rt grid-size3of4 layout-vr-sm">
							<div class="hdg-a hdg-source-lt layout-vr-sm">Subtitle our videos! Help localize our content for greater access!
							</div>					
							<div id="introduction">
								<div class="layout-vr-md">
									<p class="hdg-source-reg hdg-f grid-pad-rt-md layout-vr-tiny">We have helped rural communities in Asia and Africa produce over 4,000 videos to share best practices related to farming, health and nutrition among their peers. These videos are in over 25 local languages and help provide accurate information that translate into better agricultural yields and improving the well being of many of the poorest communities in these regions.</p>
									<p class="hdg-source-reg hdg-f grid-pad-rt-md layout-vr-tiny">You can browse through these videos on <a href="http://www.digitalgreen.org/discover/">this</a> link.</p>
									<p class="hdg-source-reg hdg-f grid-pad-rt-md layout-vr-tiny">We want to enable more and more people to have access to these videos for this we’re looking for help from individuals across the world to translate these videos into other local languages.</p>
									<p class="hdg-source-reg hdg-source-bold hdg-f grid-pad-rt-md layout-vr-tiny">What’s in it for you?</p>
									<p class="hdg-source-reg hdg-f grid-pad-rt-md layout-vr-tiny">You get to be a part of a mission that uses a unique model of behavior change communication that helps our farmers get better yields and therefore a better life; some of the videos featuring best practices related to health and nutrition bring crucial information that helps young mothers care for their infants giving them better chances of surviving past the first crucial years of infancy when they are most vulnerable to diseases.
									The top contributors are acknowledged on this page and throughout our social media channels as an exceptional group of people who help us spread these videos to millions.</p>
									<p class="hdg-source-reg hdg-f grid-pad-rt-md layout-vr-tiny">To get started, please go through the how-to section!</p>
								</div>
							</div>
						</div>
						<div id="howto" class="grid-rt grid-size3of4 layout-vr-sm">
							<h4 class="hdg-c layout-vr-sm hdg-source-lt">How to subtitle our videos</h4>
							<iframe width="650" height="400" src="http://www.youtube.com/embed/EzLOCulWXjk">
							</iframe>
							<img src="{{STATIC_URL}}social_website/content/steps_subtitle.jpg" height="200" width="650"></img>
						</div>
						<div id="contributions" class="grid-rt grid-size3of4 layout-vr-md">		
							<h4 class="hdg-c layout-vr-sm hdg-source-lt">Our 'amazing' tribe of Volunteers</h4>
							<div id="introduction" class="layout-vr-sm">
								<div class="layout-vr-sm">
									<p class="hdg-source-reg hdg-f grid-pad-rt-md layout-vr-md">Meet our fabulous friends who’ve shared their valuable time to translate our videos and help the Digital Green Community grow.<br>
									 </p>
								</div>
								<div class="layout-vr-sm grid-margin-rt-md">
									<div class="grid-col grid-size1of4 centered">
										<img src="{{STATIC_URL}}social_website/content/press_img.png" id="contributors-image">
										<h3 class="hdg-c layout-vr-sm hdg-source-lt">Name</h3>
									</div>
									<div class="grid-col grid-size1of4 centered ">
										<img src="{{STATIC_URL}}social_website/content/more_about.jpg" id="contributors-image">
										<h3 class="hdg-c layout-vr-sm hdg-source-lt">Name</h3>
									</div>
									<div class="grid-col grid-size1of4 centered ">
										<img src="{{STATIC_URL}}social_website/content/workshop.jpg" id="contributors-image">
										<h3 class="hdg-c layout-vr-sm hdg-source-lt">Name</h3>
									</div>
									<div class="grid-col grid-size1of4 centered">
										<img src="{{STATIC_URL}}social_website/content/about.jpg" id="contributors-image">
										<h3 class="hdg-c layout-vr-sm hdg-source-lt">Name</h3>
									</div>
								</div>
                			</div>
                		</div>
           			</div>
           		</div>
           	<div>
        </section>
{% include "includes/footer.html" %}
