{% include "includes/header.html" %}
<section class="about-bg about-bg-white">
		    <div class="wrapper">
                <div class="inner-wrapper">
					<div class="media layout-vr-xlg grid">
						<ul class="grid-col grid-size1of4 subtitle-sorting-list v-list">
							<li><div class="filter-category-label"><a href="#introduction">Introduction</a></div></li>
							<li><div class="filter-category-label"><a href="#howto">How to</a></div></li>
							<li><div class="filter-category-label"><a href="#contributions">Contributions</a></div></li>
						</ul>
						<div class="grid-rt grid-size3of4">
							<div class="hdg-a hdg-source-lt layout-vr-sm"> Help communities access crucial information. Help subtitle our videos!
																			<br>Volunteer with us! Change the world one video at a time!
																			<br>Subtitle our videos! Help localize our content for greater access!
							</div>					
							<div id="introduction" class="layout-vr-sm">
								<div class="layout-vr-sm">
									<p class="grid-pad-rt-md layout-vr-sm">We have helped rural communities in Asia and Africa produce over 4,000 videos to share best practices related to farming, health and nutrition among their peers. These videos are in over 25 local languages and help provide accurate information that translate into better agricultural yields and improving the well being of many of the poorest communities in these regions.
									<br>
									You can browse through these videos on this link: 
									http://www.digitalgreen.org/discover/ 			
									<br>We want to enable more and more people to have access to these videos for this we’re looking for help from individuals across the world to translate these videos into other local languages.
									<br>What’s in it for you?
									<br>
									You get to be a part of a mission that uses a unique model of behavior change communication that helps our farmers get better yields and therefore a better life; some of the videos featuring best practices related to health and nutrition bring crucial information that helps young mothers care for their infants giving them better chances of surviving past the first crucial years of infancy when they are most vulnerable to diseases.
									The top contributors are acknowledged on this page and throughout our social media channels as an exceptional group of people who help us spread these videos to millions.
									<br>
									To get started, please go through the how-to section!

								</div>
							</div>
						</div>
						<div id="howto" class="grid-rt grid-size3of4 layout-vr-md">
							<h4 class="hdg-c layout-vr-sm hdg-source-lt">How to subtitle our videos</h4>
							<iframe width="650" height="300" src="http://www.youtube.com/embed/EzLOCulWXjk">
							</iframe>
							<img src="{{STATIC_URL}}social_website/content/rsz_imagediag-page-0.jpg" height="200" width="650"></img>
						</div>
						<!--<div id="steps" class="grid-rt grid-size3of4 layout-vr-sm">
							<h4 class="hdg-c layout-vr-sm hdg-source-lt">Steps</h4>								
						</div>-->
						<div id="contributions" class="grid-rt grid-size3of4 layout-vr-md">		
							<h4 class="hdg-c layout-vr-sm hdg-source-lt">Our 'amazing' tribe of Volunteers</h4>
							<div id="introduction" class="layout-vr-sm">
								<div class="layout-vr-sm">
									<p class="grid-pad-rt-md layout-vr-sm">Meet our fabulous friends who’ve shared their valuable time to translate our videos and help the Digital Green Community grow.<br>
									 </p>
								</div>
							<div class="grid-col grid-size1of4 layout-vr-md">
								<img src="{{STATIC_URL}}social_website/content/press_img.png" id="contributors-image">
								<h3 class="hdg-c layout-vr-sm hdg-source-lt">Name</h3>
							</div>
							<div class="grid-col grid-size1of4">
								<img src="{{STATIC_URL}}social_website/content/more_about.jpg" id="contributors-image">
								<h3 class="hdg-c layout-vr-sm hdg-source-lt">Name</h3>
							</div>
							<div class="grid-col grid-size1of4">
								<img src="{{STATIC_URL}}social_website/content/workshop.jpg" id="contributors-image">
								<h3 class="hdg-c layout-vr-sm hdg-source-lt">Name</h3>
							</div>
							<div class="grid-col grid-size1of4">
								<img src="{{STATIC_URL}}social_website/content/about.jpg" id="contributors-image">
								<h3 class="hdg-c layout-vr-sm hdg-source-lt">Name</h3>
							</div>
                </div>
            </div>
        </section>
{% include "includes/footer.html" %}
