{% include "includes/header.html" %}
{% include "includes/partials/search.html" %}
{% load app_tags %}
        
    <section>
        <form>
            <div id="main" role="main" class="wrapper">
                <div class="inner-wrapper" id="collection-view">
                <div class="js-video-outer-wrapper">
                    <ul class="v-list-lg v-list-divided v-list-divided-dk js-video-add-container">
                    <!-- Video Add Blocks -->
                    </ul>
                    <button type="button" class="add-more-link js-add-more-videos-btn"> + Add more videos </button><br>
                    <button type="submit"  class="btn copy-margin top-mar"> Upload </button>
                    <input type="file" id='browseButton' />
                </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </form>
    </section>
        
{% include "includes/footer.html" %}

