<div class="bd">
                            <div class="media va-dropdown">
                                <label class="copy hdg-bold layout-vr-tiny">Partner</label>
                                    <select id = "partnerlist" class="chosen-select" >
                                      <option value = "path">PATH</option>
                                      <option value = "pradan">Pradan</option>
                                      <option value = "serp">SERP</option>
                                      <option value = "asa">ASA</option>
                                    </select><br><br>
                                <label class="copy hdg-bold layout-vr-tiny">State</label>
                                    <select id = "statelist" class="chosen-select">
                                      <option value = "mp">MP</option>
                                      <option value = "ap">AP</option>
                                      <option value = "bihar">Bihar</option>
                                    </select><br><br>
                                <label class="copy hdg-bold layout-vr-tiny">Language</label>
                                    <select id = "langlist" class="chosen-select">
                                      <option value = "english">English</option>
                                      <option value = "hindi">Hindi</option>
                                    </select><br><br>
                                <label class="copy hdg-bold layout-vr-tiny">Add Video</label>
                                    <select id = "langlist" class="chosen-select">
                                      <option value = "english">SRI</option>
                                      <option value = "hindi">Seed treatment</option>
                                    </select><br><br>
                            </div> <!-- End .media -->
                        </div> <!-- End .bd -->