<div class="bd">
                            <div class="media va-dropdown">
                                <label class="copy hdg-bold layout-vr-tiny">Partner</label>
                                    <select id = "partnerlist" class="chosen-select" >
                                      {{#partner}}
                                      <option value = {{.}}>{{.}}</option>
                                      {{/partner}}
                                    </select><br><br>
                                <label class="copy hdg-bold layout-vr-tiny">State</label>
                                    <select id = "statelist" class="chosen-select">
                                    {{#state}}
                                      <option value = {{.}}>{{.}}</option>
                                    {{/state}}
                                    </select><br><br>
                                <label class="copy hdg-bold layout-vr-tiny">Language</label>
                                    <select id = "langlist" class="chosen-select">
                                      {{#language}}
                                      <option value = {{.}}>{{.}}</option>
                                      {{/language}}
                                    </select><br><br>
                                <label class="copy hdg-bold layout-vr-tiny">Add Video</label>
                                    <select id = "langlist" class="chosen-select">
                                      <option value = "english">SRI</option>
                                      <option value = "hindi">Seed treatment</option>
                                    </select><br><br>
                            </div> <!-- End .media -->
                        </div> <!-- End .bd -->